<!doctype html>
<html ng-app="baseApp">
<head>
    <link rel="stylesheet" href="static/thirdparty/bootstrap/css/bootstrap.css">

    <title>{% block html-title %}Flight board{% end %}</title>
    {% block html-head %}{% end %}

</head>

<body ng-controller="FlightsListCtrl">
<h2>{[{ hello }]}!</h2>


<p>{[{orderProp}]}</p>
Search: <input ng-model="query">
Sort by:
<select ng-model="orderProp">
  <option value="flight">Alphabetical</option>
  <option value="fly_datetime">Newest</option>
</select>


<ul class="phones">
  <li ng-repeat="flight in flights | filter:query | orderBy:orderProp">
    {[{flight.flight}]}, {[{flight.destination}]}, {[{flight.fly_datetime}]}
  </li>
</ul>


{[{flights | json}]}

</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
<script src="static/js/project.js"></script>
<script src="static/js/controllers.js"></script>
</html>