{% extends "layouts/base.html" %}
{% block content %}
<h3>
    Cards parsing
</h3>

<p>Packs:{% for pack in packs %} {{ pack }},{% end for %}.</p>

<ul>
    <li>All cards = {{ counter_all }}</li>
    <li>New cards = {{ counter_new }}</li>
    <li>Old cards = {{ counter_old }}</li>
</ul>
{% end %}
