{% extends "layouts/base.html" %}
{% block content %}
<h3>
    Lets work with DB
</h3>
<p>Links</p>
<ul>
    <li><a href="/cards-parsing">card parsing</a></li>
    <li><a href="/card-view">card view</a></li>
</ul>
{% end %}
